@charset "UTF-8";
/*На будущее: gray - темносерый, grey - светлосерый.*/
* {
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1110px;
}

.header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 740px;
  padding: 20px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__heading {
  font-size: 64px;
  font-weight: 500;
  line-height: 95px;
  color: #fff;
  text-align: center;
  max-width: 734px;
  margin: 112px auto 35px;
  overflow: hidden;
  text-transform: uppercase;
}

.header__subheading {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  max-width: 734px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__burger {
  background-color: #F7654A;
  width: 50px;
  height: 50px;
}

.wrapper-statistics {
  position: relative;
}

.statistics {
  position: absolute;
  top: 150px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  min-height: 300px;
  padding: 0 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.statistics__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.statistics__number {
  font-size: 72px;
  font-weight: 500;
  line-height: 53px;
  color: #F7654A;
  display: block;
  margin: 0 0 25px 0;
}

.statistics__years {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  color: #000;
  display: block;
  margin: 0 0 10px 0;
}

.statistics__place {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #999999;
}

.projects {
  padding: 250px 0 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects__heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  color: #404149;
  text-align: center;
  text-transform: uppercase;
}

.projects__showcase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0 0 0;
}

.project {
  width: 350px;
}

.project__heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  display: block;
  margin: 66px 0 20px;
  position: relative;
  text-transform: capitalize;
}

.project__heading::before {
  content: '';
  width: 55px;
  height: 6px;
  background-color: #F7654A;
  position: absolute;
  top: -18px;
  left: 0;
}

.project__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
}

.advert {
  background-color: #F7654A;
  height: 181px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advert > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.advert__text {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advert__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 71px;
  text-transform: uppercase;
}

.advert__subheading {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advert__mail {
  display: block;
  color: #000;
  width: 175px;
  padding: 14px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  background-color: #f4f4f4;
}

.advert__mail > i {
  margin: 0 15px 0 0;
}

.services {
  padding: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services__heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}

.services__showcase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 66px 0 0 0;
}

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 250px;
  margin: 0 0 30px 0;
  padding: 59px 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f4f4f4;
}

.service__icon {
  display: block;
  margin: 0 0 10px 0;
}

.service__name {
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.album {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.album__picture {
  display: block;
  width: 400px;
  margin: 0 0 10px 0;
}

.faq {
  padding: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.faq__heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 0 50px 0;
}

.faq__question {
  color: #F7654A;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  outline: none;
}

.faq__answer {
  width: 66.36364%;
  margin: 0 0 40px 0;
}

.faq__answer > p {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  margin: 30px 0 0 0;
}

.partners {
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #404149;
}

.partners__heading {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  color: #fff;
  text-align: center;
  margin: 0 0 60px 0;
}

.partners__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.partners__partner {
  display: block;
}

.reviews {
  padding: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reviews__heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 0 60px 0;
}

.reviews__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.review {
  width: 350px;
}

.review__text {
  background-color: #f4f4f4;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
  padding: 80px 30px 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 30px 0;
  position: relative;
}

.review__text::before {
  content: '“';
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
  color: #F7654A;
}

.review__reviewer, .review__company {
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
}

.review__company {
  color: #F7654A;
}

.contacts {
  padding: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts__heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 0 60px 0;
}

.contacts__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  min-height: 191px;
}

.contact__icon {
  color: #F7654A;
  font-size: 45px;
}

.contact__type {
  color: #999999;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.contact__text {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  background-color: #404149;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
}

.footer > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright, .footer__author {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;
}
