@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.window {
  background-color: #313131;
  border-radius: 20px;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.colors-window {
  width: 679px;
  min-height: 380px;
}

.color-picker-window {
  width: 320px;
  min-height: 380px;
}

color-picker {
  display: none;
}

.visible {
  display: block;
}

.icons {
  position: absolute;
  right: 16px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.icons__icon {
  width: 25px;
  height: 25px;
}
.icons__save-icon, .icons__close-icon {
  fill: #8D8D8D;
  cursor: pointer;
}

.window-name {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  margin: 0 0 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table__cell {
  border: 1px solid #313131;
  background-color: #424242;
  height: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8D8D8D;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}
.table__column-heading {
  color: #fff;
  width: 115px;
}
.table__column-heading:nth-child(1) {
  width: 90px;
}
.table__column-heading:nth-child(2) {
  width: 134px;
}

.color-rectangle {
  width: 41px;
  height: 41px;
  margin: 6px auto;
  background-color: #fff;
}

.change-button,
.remove-button {
  width: 20px;
  height: 20px;
  background-color: #424242;
  border: none;
  cursor: pointer;
  fill: #8D8D8D;
  stroke: #8D8D8D;
}

.change-button:hover {
  fill: #53CBF1;
  stroke: #53CBF1;
}

.remove-button:hover {
  fill: red;
  stroke: red;
}

.button {
  display: block;
  margin: 30px auto 0;
  border-radius: 20px 20px 20px 20px;
  background-color: #313131;
  border: 1px solid #53CBF1;
  padding: 10px 68px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}
.button:hover, .button_active {
  background-color: #53CBF1;
}

.label {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #C6C6C6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 17px;
}

.input {
  color: #BFBFBF;
  background-color: #424242;
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  width: 175px;
  height: 40px;
}

.color-type-option {
  height: 40px;
}

#colorPicker {
  display: block;
  width: 250px;
  margin: auto;
}