$orange: #F7654A;
$grey: #999999;
$whitegrey: #f4f4f4;
/*На будущее: gray - темносерый, grey - светлосерый.*/
$dark: #404149;

@mixin font ($size, $weight, $lineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

* {
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1110px;
}

.header {
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;
    padding: 20px 0 0 0;
    box-sizing: border-box;

    &__heading {
        @include font(64px, 500, 95px);
        color: #fff;
        text-align: center;
        max-width: 734px;
        margin: 112px auto 35px;
        overflow: hidden;
        text-transform: uppercase;
    }

    &__subheading {
        display: block;
        @include font(18px, 400, 25px);
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        max-width: 734px;
        margin: 0 auto;
    }
}

.nav {
    display: flex;
    justify-content: space-between;

    &__burger {
        background-color: $orange;
        width: 50px;
        height: 50px;
    }
}

.wrapper-statistics {
    position: relative;
}

.statistics {
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $whitegrey;
    min-height: 300px;
    padding: 0 130px;
    box-sizing: border-box;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__number {
        @include font(72px, 500, 53px);
        color: $orange;
        display: block;
        margin: 0 0 25px 0;
    }

    &__years {
        @include font(36px, 500, 53px);
        color: #000;
        display: block;
        margin: 0 0 10px 0;
    }

    &__place {
        @include font(18px, 500, 26px);
        color: $grey;
    }
}

.projects {
    padding: 250px 0 150px 0;
    box-sizing: border-box;

    &__heading {
        @include font(36px, 500, 53px);
        color: $dark;
        text-align: center;
        text-transform: uppercase;
    }

    &__showcase {
        display: flex;
        justify-content: space-between;
        margin: 60px 0 0 0;
    }
}

.project {
    width: 350px;

    &__heading {
        @include font(24px, 500, 36px);
        display: block;
        margin: 66px 0 20px;
        position: relative;
        text-transform: capitalize;

        &::before {
            content: '';
            width: 55px;
            height: 6px;
            background-color: $orange;
            position: absolute;
            top: -18px;
            left: 0;
        }
    }

    &__text {
        @include font(16px, 400, 22px);
        color: $grey;
        font-family: 'Open Sans', sans-serif;
    }
}

.advert {
    background-color: $orange;
    height: 181px;
    display: flex;
    align-items: center;

    &>.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__heading {
        @include font(48px, 700, 71px);
        text-transform: uppercase;
    }

    &__subheading {
        @include font(24px, 700, 36px);
        text-transform: uppercase;
    }

    &__mail {
        display: block;
        color: #000;
        width: 175px;
        padding: 14px 30px;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
        @include font(14px, 500, 20px);
        background-color: $whitegrey;

        &>i {
            margin: 0 15px 0 0;
        }
    }
}

.services {
    padding: 150px 0;
    box-sizing: border-box;

    &__heading {
        @include font(36px, 500, 53px);
        text-align: center;
        text-transform: uppercase;
    }

    &__showcase {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        margin: 66px 0 0 0;
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin: 0 0 30px 0;
    padding: 59px 88px;
    box-sizing: border-box;
    background-color: $whitegrey;

    &__icon {
        display: block;
        margin: 0 0 10px 0;
    }

    &__name {
        @include font(21px, 500, 31px);
        text-transform: uppercase;
        text-align: center;
        color: #000;
    }
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__picture {
        display: block;
        width: 400px;
        margin: 0 0 10px 0;
    }
}

.faq {
    padding: 150px 0;
    box-sizing: border-box;

    &__heading {
        @include font(36px, 500, 53px);
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin: 0 0 50px 0;
    }

    &__question {
        color: $orange;
        text-transform: uppercase;
        @include font(24px, 500, 36px);
        outline: none;

    }

    &__answer {
        width: 730px / 1100px *100%;
        margin: 0 0 40px 0;

        &>p {
            color: $grey;
            @include font(16px, 400, 22px);
            font-family: 'Open Sans', sans-serif;
            margin: 30px 0 0 0;
        }
    }
}

.partners {
    padding: 100px 0;
    box-sizing: border-box;
    background-color: $dark;

    &__heading {
        text-transform: uppercase;
        @include font(36px, 500, 53px);
        color: #fff;
        text-align: center;
        margin: 0 0 60px 0;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__partner {
        display: block;
    }
}

.reviews {
    padding: 150px 0;
    box-sizing: border-box;

    &__heading {
        @include font(36px, 500, 53px);
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin: 0 0 60px 0;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.review {
    width: 350px;
    &__text {
        background-color: $whitegrey;
        color: $grey;
        @include font(16px, 400, 22px);
        font-family: 'Open Sans', sans-serif;
        padding: 80px 30px 30px 30px;
        box-sizing: border-box;
        margin: 0 0 30px 0;
        position: relative;
        &::before {
            content: '“';
            font-family: 'Oswald', sans-serif;
            position: absolute;
            top: 0px;
            left: 30px;
            @include font(96px, 700, 142px);
            color: $orange;
        }
    }
    &__reviewer, &__company {
        @include font(21px, 500, 31px);
    }
    &__company {
        color: $orange;
    }
}
.contacts {
    padding: 150px 0;
    box-sizing: border-box;
    &__heading {
        @include font(36px, 500, 53px);
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin: 0 0 60px 0;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    min-height: 191px;
    
    &__icon {
        color: $orange;
        font-size: 45px;
    }
    &__type {
        color: $grey;
        @include font(24px, 500, 36px);
        text-transform: uppercase;
    }
    &__text {
        color: #000;
        @include font(24px, 500, 36px);
        text-transform: uppercase;
        text-align: center;
    }
}
.footer {
    background-color: $dark;
    display: flex;
    height: 82px;
    &>.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copyright, &__author {
        color: #fff;
        @include font(16px, 400, 22px);
        font-family: 'Open Sans', sans-serif;
    }
}