@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$black: #313131;
$grey: #424242;
$greyText: #8D8D8D;
$blue: #53CBF1;
$red: #CA4C4C;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.window {
  background-color: $black;
  border-radius: 20px;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
}

.colors-window {
  width: 679px;
  min-height: 380px;
}

.color-picker-window {
  width: 320px;
  min-height: 380px;
}

color-picker {
  display: none;
}

.visible {
  display: block;
}

.icons {
  position: absolute;
  right: 16px;
  top: 20px;
  display: flex;
  gap: 10px;

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__save-icon,
  &__close-icon {
    fill: $greyText;
    cursor: pointer;
  }

}

.window-name {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  margin: 0 0 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__cell {
    border: 1px solid $black;
    background-color: $grey;
    height: 54px;
    box-sizing: border-box;
    color: $greyText;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
  }

  &__column-heading {
    color: #fff;
    width: 115px;

    &:nth-child(1) {
      width: 90px;
    }

    &:nth-child(2) {
      width: 134px;
    }

  }
}

.color-rectangle {
  width: 41px;
  height: 41px;
  margin: 6px auto;
  background-color: #fff;
}

.change-button,
.remove-button {
  width: 20px;
  height: 20px;
  background-color: $grey;
  border: none;
  cursor: pointer;
  fill: $greyText;
  stroke: $greyText;
}

.change-button:hover {
  fill: $blue;
  stroke: $blue;
}

.remove-button:hover {
  fill: red;
  stroke: red;
}

.button {
  display: block;
  margin: 30px auto 0;
  border-radius: 20px 20px 20px 20px;
  background-color: $black;
  border: 1px solid $blue;
  padding: 10px 68px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &_active {
    background-color: $blue;
  }
}

.label {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #C6C6C6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 17px;
}

.input {
  color: #BFBFBF;
  background-color: $grey;
  border: 1px solid $greyText;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
  width: 175px;
  height: 40px;
}

.color-type-option {
  height: 40px;
}

#colorPicker {
  display: block;
  width: 250px;
  margin: auto;
}