# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
composer/vendor/
composer/*.phar
composer/composer.last

artifacts/
build_android/
build_ios/
build/
tags
gamectl.lock
gamectl.props.php
*.gen.bhl
*.gen.bhl.meta

dll_src/metagen/autogen*
dll_src/bhl/autobind*
dll_src/bhl/autogen*
game_*.dll*

utils/autogen
utils/ios/export_archive_options.plist
utils/ios/Symbols
utils/ios/install_adhoc.plist
utils/ios/export_ipa_options_adhoc.plist
utils/ios/export_ipa_options_appstore.plist

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uild_*/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Assets/smcs.cs*
/Assets/*.rsp*
/Assets/Scripts/Settings.cs.meta
/Assets/Scripts/Settings.cs
#unity/Assets/Scripts/autogen*
/Assets/Plugins/Android/baseProjectTemplate.gradle
/Assets/Plugins/Android/baseProjectTemplate.gradle.meta
/Assets/Scripts/bhl/autobind*
/Assets/Scripts/bhl/types_autogen*
/Assets/Resources/ext_config*
/Assets/Plugins/Android/AndroidManifest.xml.meta
/Assets/Plugins/Android/AndroidManifest.xml
/Assets/Resources/GameAnalytics/Settings.asset
#unity/ProjectSettings/ProjectSettings.asset
/UserSettings/
/remote_config_data

/Packages/bhl/Runtime/code
/Packages/metagen_autogen/Runtime/code

/Assets/Adverty/Resources/Data/AdvertySettings.asset
/Assets/Configs/json/cheats/cheats_data.json

/Assets/Plugins/Android/FirebaseCrashlytics.androidlib/
/Assets/GeneratedLocalRepo/Firebase/
UnityBuildReports/
/Assets/BuildReports/

build_xcode
derived_data_xcode

.teamcity/target/

*.sublime-project
*.sublime-workspace
# Do warn about orig files since unity create meta for each one
#*.orig

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/
.idea/
.vsconfig
# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.csproj.DotSettings
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.unitypackage
*.unitypackage.meta
*.apk
*.aab
*.ipa

# Crashlytics generated file
crashlytics-build.properties

.DS_Store
.dir-locals.el


#mac-os meta
._*
